p Authenticating with #{strategy}.

script.
    document.addEventListener("DOMContentLoaded", function(){
        const es = new EventSource("status");
        es.addEventListener("message", event => {
            let payload = JSON.parse(event.data);
            if(payload.finalized){
                
                // Requesting a redirect back.
                window.location.href="/redirect";
            }
        });
    });

