doctype html
include includes/alerts.pug
include includes/style.pug
html
  head
    meta(name="viewport" content="initial-scale=1,maximum-scale=1")
    title Open Authenticator - #{strategy}
  body 
    block content
   